body {
    margin: 0%;
    padding:0%;
    font-family: 'Times New Roman', Times, serif;
    background: scroll;
    text-align: center;
}

header {
    background-color: #808080;
    width: 100%;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: block
    margin:20px auto;
}

nav {
    list-style: none;
    padding: 15px;
    margin: 0%;
    display: flex;
    justify-content: center;
    text-decoration: underline wavy;
}

nav a {
    margin: 0 15px;

}